.custom-btn {
    background-color: transparent;
    border-color: #963ec3;
    color: #963ec3;
    width: 150px; /* Adjust width as needed */
  }
  
  .custom-btn:hover {
    background-color: #963ec3;
    border-color: #963ec3;
    color: white;
  }
  