<div class="px-4 pt-5 my-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Your Dresser</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="col-lg-6 mx-auto">
          
          <p class="lead mb-4" style="padding-top: 40px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio nostrum molestiae blanditiis libero repellendus quas esse reiciendis? Id deserunt atque rerum minima ipsam voluptatum dolor, nostrum ex, aliquid perspiciatis tempora!</p>
          <button type="button" class="btn btn-custom-primary" [routerLink]="['/products']">Go to Products </button>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="container px-5" style="padding-top: 10px;">
          <img src="https://i.pinimg.com/236x/90/08/2e/90082ebd23c9770bc3198dc99adacd36.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</div>
