<div class="px-4 py-5 my-5 text-center">
    <img
      class="d-block mx-auto "
      src="https://i.pinimg.com/236x/51/0f/49/510f4957de3eb14c591fddb875ae9c94.jpg"
      alt=""
      width="72"
      height="57"
    />
    <h1 class="display-5 fw-bold">404</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Page Not Found</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button
        type="button"
        class="btn btn-primary btn-lg px-4 gap-3 custom-btn"
        [routerLink]="['/']"> Back to home
       </button>
    
      </div>
    </div>
  </div>
  